{% extends 'base.html.twig' %}

{% block title %}Vente index{% endblock %}

{% block body %}
    <h1>Vente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateVente</th>
                <th>MontantTotal</th>
                <th>Etat</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.id }}</td>
                <td>{{ vente.dateVente ? vente.dateVente|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vente.montantTotal }}</td>
                <td>{{ vente.etat }}</td>
                <td>{{ vente.dateCreation ? vente.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vente.dateModification ? vente.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_vente_show', {'id': vente.id}) }}">Afficher</a>
                    <a href="{{ path('app_vente_edit', {'id': vente.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vente_new') }}">Ajouter une vente</a>
{% endblock %}
