{% extends 'base.html.twig' %}

{% block body %}
<header>
    <h1>Logix G-Stock</h1>
    <nav>
        <ul>
            {# visible pour tous #}
           
            <li><a href="{{ path('app_vente_index') }}">Ventes</a></li>
            <li><a href="{{ path('app_achat_index') }}">Achats</a></li>
            <li><a href="{{ path('app_produit_index') }}">Stocks</a></li>
        </ul>
    </nav>
    
</header>

    
<main>
    {% if is_granted('ROLE_ADMIN') %}
       
            <h2>Tableau de bord</h2>

            <div class="cards">
            <div class="card">
            <h3>Chiffre d'affaires</h3>
            <p>{{chiffreAffaire | number_format(2, ",", " ")}} €</p>
                
            </div>
            <div class="card">
            <h3>Total Achat</h3>
            <p>{{totalAchats | number_format(2, ",", " ")}} €</p>
                
            </div>
            <div class="card">
            <h3>Valeur du stock</h3>
            <p>{{valeurStock | number_format(2, ",", " ")}} €</p>
                
            </div>

            <div class="card alert">
            <h3>Produits sous seuil</h3>
            <p>{{nbSousSeuil}} </p>
                
            </div>

            <div class="card alert">
            <h3>Produits en rupture</h3>
            <p>{{nbRuptures}} </p>
                
            </div>

            </div>


            
        {% else %}
        <section>
            <section>
                <h2> Bienvenue </h2> 
                <p> Utilser le menu ci-dessus pour gérer vos ventes, achats et stocks.</p>
                
            </section>
            
    

    {% endif %}

</main>


    



{% endblock %}
