{% extends 'base.html.twig' %}

{% block titre %}Clients — Logix G-Stock{% endblock %}

{% block contenu %}

<table class="table">
    <tbody>
        <tr>
            <th>id</th>
            <td>{{fournisseur.id}}</td>
            </tr>
            <tr>
            <th>Nom</th>
            <td>{{fournisseur.nom}}</td>
            </tr>
            <tr>
            <th>Prenom</th>
            <td>{{fournisseur.prenom}}</td>
            </tr>
            <tr>
            <th>Adresse</th>
            <td>{{fournisseur.adresse}}</td>
            </tr>
            <tr>
            <th>Telephone</th>
            <td>{{fournisseur.telephone}}</td>
            </tr>
            <tr>
            <th>Email</th>
            <td>{{fournisseur.email}}</td>
            </tr>

            <tr>
            <th>Actions</th>
            <td>
                <a href="{{ path('app_fournisseur_index') }}" class="btn btn-primary">Retour à la liste</a>
                <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-warning">Modifier</a>
                {{ include('fournisseur/_delete_form.html.twig',{'fournisseur': fournisseur})}}
            </td>
            </tr>
    </tbody>




</table>