{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block body %}
    <h1>Achat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateAchat</th>
                <th>MontantTotal</th>
                <th>Etat</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.id }}</td>
                <td>{{ achat.dateAchat ? achat.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ achat.montantTotal }}</td>
                <td>{{ achat.etat }}</td>
                <td>{{ achat.dateCreation ? achat.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ achat.dateModification ? achat.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_achat_show', {'id': achat.id}) }}">show</a>
                    <a href="{{ path('app_achat_edit', {'id': achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_achat_new') }}">Create new</a>
{% endblock %}
