{% extends 'base.html.twig' %}

{% block titre %}Ajouter un achat — Logix G-Stock{% endblock %}

{% block contenu %}


<h1>Ajouter un achat</h1>

{{ form_start(form) }}
{{ form_widget(form.dateAchat) }}
{{ form_widget(form.etat) }}

{{ form_widget(form.fournisseur) }}

    <h3>Produits achetés</h3>
    
<ul class="detailAchats"
    data-index="{{ form.detailAchats|length > 0 ? form.detailAchats|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.detailAchats.vars.prototype)|e('html_attr') }}">
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="detailAchats">Add a tag</button>    
<a href="{{ path('app_achat_index') }}">Retour à la liste</a>

<input type="submit">
{{ form_end(form)}}

<script>

// rajoute chaque nouveau detail
  function addFormToCollection(e) {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
  
    const item = document.createElement('li');
  
    item.innerHTML = collectionHolder
      .dataset
      .prototype
      .replace(
        /__name__/g,
        collectionHolder.dataset.index
      );
  
    collectionHolder.appendChild(item);
  
    collectionHolder.dataset.index++;

    
  };

// rajoute le bouton de delete
  function addDetailFormDeleteLink(item) {
    const removeFormButton = document.createElement('button');
    removeFormButton.innerText = 'Effacer';

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the details form
        item.remove();
    });
}
  
document
.querySelectorAll('.add_item_link')
.forEach(btn => {
    btn.addEventListener("click", addFormToCollection)
});


document
.querySelectorAll('ul.detailAchats li')
.forEach((tag) => {
    addDetailFormDeleteLink(tag)
})

</script>


{% endblock %}

    
