{% extends 'base.html.twig' %}

{% block titre %}Détail de l'achat {{ achat.id }}{% endblock %}

{% block contenu %}

<div class="container my-4">

    <h1>🧾Détail de l'achat {{ achat.id }}</h1>

    {#bloc info achat #}

 

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white fw-bold">
            Informations générales
        </div>

        <div class="card-body">
           <table class="table table-bordered ">

                {#ligne d'information simple#}
                <tr>
                    <th>ID</th>
                
                    <td>{{ achat.id }}</td>
                </tr>

                <tr>
                    <th>Date d'achat</th>
                    <td >{{ achat.dateAchat ? achat.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Montant total</th>
                    <td >{{ achat.montantTotal }}</td>
                </tr>
                <tr>
                    <th>État</th>
                    <td >{{ achat.etat }}</td>
                </tr>
                {# <tr>
                    <th>DateCreation</th>
                    <td>{{ achat.dateCreation ? achat.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                </tr> #}
                <tr>
                    <th>Date de modification</th>
                    {# peut etre null si jamais modifié#}
                    <td >{{ achat.dateModification ? achat.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fournisseur</th>
                    <td >{{ achat.fournisseur.nom }}</td>
                </tr>

            </tbody>
            </table>
        </div>
    </div>

                {# bloc détails produits)#}

            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white fw-bold">
                    Produits achetés

                </div>

            <div class="card-body">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th> Produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Sous-total</th>
                        
                        </tr>
                    </thead>
                <tbody>
                {# on boucle sur chaque détail lié à l'achat #}
                {% for detail in achat.detailAchats %}
                <tr>
                    <td>{{ detail.produit.nom }}</td>
                    <td>{{ detail.quantite }}</td>
                    <td>{{ detail.prixUnitaire }}</td>
                    <td>{{ detail.sousTotal }}</td>

                </tr>
                    
                {% endfor %}

               
        </tbody>
    </table>

    

    <a href="{{ path('app_achat_index') }}">Retour à la liste</a>

    <a href="{{ path('app_achat_edit', {'id': achat.id}) }}"> ✏️Modifier</a>

    {{ include('achat/_delete_form.html.twig') }}


   
{% endblock %}

